{% extends 'index.html' %}

    {% block style %}
            body{
                background-color:slategrey;
            }

            .container{
                font-size:20px;
                color:black;
                text-align:center;
                top:10vw;
            
                position:relative;
            }

            .c{
                top:20vw;
                text-align:center;
                position:relative;
            }
    {% endblock style %}
      

    {% block body %}
        <div class="container">
            <p>This is a website created by the students of JNTUCEH, to solve the problem of queue in college canteen,
            ordering the food may take a lot of time if students are standing in a line for a long time , so its needed to be solved.<br>
            The main aim of this project is "To save the time of students"
            By this web app students can easily order the food which they want in a easy way<br>
            We hope this project helps everyone!<br>
            Thanks !
            </p>
        </div>
        <div class="c">
            <h6>ALL Copyrights are Reserved @act-iso-2001</h6>
        </div>
    {% endblock body %}
    